.container {
  text-align: center;
  padding: 5px;
}

hr {
  border: 1px solid gray;
}

.container-child {
  /* Constrain width to 50%, so both divs can float side by side. */
  width: 70%;
  float: left;
  text-align: left;
}

.toggle-switch {
  position: relative;
  width: 37px;
  display: inline-block;
  text-align: left;
  /* top: 4px; */
}

.toggle-checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 10px;
}

.toggleswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.toggleswitch-inner:before, .toggleswitch-inner:after {
  float: left;
  width: 50%;
  height: 18px;
  padding: 0;
  line-height: 18px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.toggleswitch-inner:before {
  content: "";
  padding-left: 5px;
  background-color: rgba(0, 0, 220, 0.7);
  color: #fff;
}

.toggleswitch-inner:after {
  content: "";
  padding-right: 5px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}

.toggleswitch-switch {
  display: block;
  width: 12px;
  margin: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  border: 0 solid #bbb;
  border-radius: 10px;
  transition: all 0.3s ease-in 0s;
}

.toggle-checkbox:checked + .label .toggleswitch-inner {
  margin-left: 0;
}

.toggle-checkbox:checked + .label .toggleswitch-switch {
  right: 0px;
}
